.home {
  margin: 0 auto;

  .fun-bus-img {
    // max-width: 10%;
    // height: auto;
    display: flex;
    width: 100%;
    // border: 3px red solid;
    // text-align: center;
    justify-content: center;
    // flex-direction: column;
    }
    


  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
    }
  }

  // new CSS from Tim Rooney
  // .container {

    

  // }

  .intro-section {
    padding: 20px 0px 10px 0px;
    border-bottom: 2px dashed @navigation-border;
  
  }



  .btn {
    background-color:@eastern-blue;
    color: @white;
    padding: 10px 20px 10px 10px;
    width: 80%;
    font-size: 2rem;
    text-align:center;
    border-radius: 10px;
  }


}// home

